<p style="color: green"><%= notice %></p>

<h1>Transaction</h1>
<h2> Total   <%= @total %></h2>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
  <% @entities.each do |entities| %>
    <div class="col-md-4">
        <img src= <%= entities.name %> class="img-fluid rounded-start" alt=<%= @entities.name %>>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= entities.name %></h5>
        <h5><%=entities.Amount%></h5>
       </div>
     </div>
  <% end %>
 </div>
</div>
<%= link_to "New entity", new_entity_path %>

