<div class= "container">
<div class="row home-page">
<div class="intoduction col d-flex flex-column">
   <h1>Budget App</h1>
   <p>A budget web app helps you to manage your budget you can create a list of transactions associated with a category, so that you can see how much money you spent and on what.</p>
   <%= link_to "Sign Up", new_user_registration_path, class: "signup-btn btn btn-primary btn-sm" %> 
</div>
<div class="log-field col">
<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="fields">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="fields">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password"%>
  </div>

  <div class="login-btn btn btn-sm">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>